body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
}

#header {
    height: 50px;
}

#header h1 {
    margin: 5px 20px;
}

main {
    flex: 1;
}

#input, #output {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 50%;
    height: 100%;
}

#input {
    float: left;
}

#input .CodeMirror {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#output {
    border-left-style: solid;
    border-color: #555555;
    border-width: 1px;
    float: right;
    overflow: scroll;
}
