body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
}

main {
    flex: 1;
}

#input, #output {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 50%;
    height: 100%;
}

#input {
    float: left;
}

#input .CodeMirror {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

#output {
    float: right;
}
